<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1> Welcome {{session['first_name']}}</h1>

    <h1>{{recipe.name}}</h1>
    <h2>Description: {{recipe.descrption}}</h2>
    <h2>Under 30 minutes: {{recipe.unders30}}</h2>
    <h2>Instructions: {{recipe.instructions}}</h2>
    <h2>Date made on: {{recipe.date}}</h2>

<a href="/logout">Logout</a>
<a href="/dashboard">Dashboard</a>
</body>
</html>


<!-- [{'id': 1, 'name': 'apple', 'unders30': 'Yes', 'description': 'sdsdfs', 
'instructions': 'sdfsdf', 'date': datetime.datetime(2021, 7, 7, 0, 0),
 'created_at': datetime.datetime(2021, 7, 22, 13, 36, 19), 
'updated_at': 'NOW() ON UPDATE NOW()', 'users_id': 1}] -->